
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">オフキャンバス</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="閉じる"></button>   
    </div>
    <div class="offcanvas-body">
        <ui class="list-group">            
            {% load user_filters %}
            {% if request.user|is_admin %}
                {% include 'leftMenu/admin_menu.html' %}
            {% elif request.user|is_member %}
                {% include 'leftMenu/member_menu.html' %}
            {% elif request.user|is_employee %}
                {% include 'leftMenu/employee_menu.html' %}
            {% elif request.user|is_staff %}
                {% include 'leftMenu/staff_menu.html' %}
            {% else %}
                <p class="text-white font-weight-bold px-3 py-2 text-center mb-0" style="font-size: 16px;">ログインしてください</p>
            {% endif %}
        </ul>
    </div>
</div>
