
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">オフキャンバス</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="閉じる"></button>   
    </div>
    <div class="offcanvas-body">
        <div>
            プレースホルダとしてのテキスト。...
        </div>
        <div class="dropdown mt-3">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                ドロップダウン
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">メニュー1</a></li>
                <li><a class="dropdown-item" href="#">メニュー2</a></li>
                <li><a class="dropdown-item" href="#">メニュー3</a></li>
            </ul>
        </div>
    </div>
</div>
