<!-- ナビゲーションバーの部分 -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <!-- 左オフキャンバスメニューを開くボタン -->
    <button class="btn btn-primary mx-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        menu
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <!-- 通常のナビゲーションメニュー（横並び） -->
            <li class="nav-item active">
                <a class="btn btn-primary" href="/">ホーム</a>
            </li>
            
            <li class="nav-item active">
                {% load user_filters %}
                {% if request.user|is_admin %}
                    <p class="text-white font-weight-bold px-3 py-2 text-center mb-0" style="font-size: 16px;">admin app</p>
                {% elif request.user|is_member %}
                    <p class="text-white font-weight-bold px-3 py-2 text-center mb-0" style="font-size: 16px;">member app</p>
                {% elif request.user|is_employee %}
                    <p class="text-white font-weight-bold px-3 py-2 text-center mb-0" style="font-size: 16px;">employee app</p>
                {% elif request.user|is_staff %}
                    <p class="text-white font-weight-bold px-3 py-2 text-center mb-0" style="font-size: 16px;">Staff app</p>
                {% else %}
                    <p class="text-white font-weight-bold px-3 py-2 text-center mb-0" style="font-size: 16px;">
                        <a href="{% url 'accounts:login' %}" class="text-white text-decoration-none">ログインしてください</a>
                    </p>
                {% endif %}
            </li>
        </ul>
    </div>

    <!-- 右オフキャンバスメニューを開くボタン -->
    <button class="btn btn-primary mx-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
        profile menu
    </button>
</nav>

<!-- 左側オフキャンバスメニュー -->
 {% include 'left_sidebar.html' %}

<!-- 右側オフキャンバスメニュー -->
{% include 'right_sidebar.html' %}