<!-- ナビゲーションバーの部分 -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <!-- 左オフキャンバスメニューを開くボタン -->
    <button class="btn btn-primary mx-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        menu
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <!-- 通常のナビゲーションメニュー（横並び） -->
            <li class="nav-item active">
                <a class="btn btn-primary" href="/">ホーム</a>
            </li>
        </ul>
    </div>

    <!-- 右オフキャンバスメニューを開くボタン -->
    <button class="btn btn-primary mx-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
        profile menu
    </button>
</nav>

<!-- 左側オフキャンバスメニュー -->
 {% include 'left_sidebar.html' %}

<!-- 右側オフキャンバスメニュー -->
{% include 'right_sidebar.html' %}