{% extends 'base.html' %}

{% block content %}
{% if messages %}
    <div class="alert alert-danger" role="alert">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}
<div class="mb-4">
    <!-- 勲章授与画面に遷移するアイコンボタン -->
    <a href="{% url 'member:add_points' %}" class="btn btn-primary">
        <i class="fas fa-medal" style="font-size: 24px; margin-right: 10px;"></i>
        ポイント追加
    </a> 
    <!-- 商品一覧画面に遷移するアイコンボタン -->
    <a href="{% url 'member:product_list' %}" class="btn btn-primary">
        <i class="fas fa-medal" style="font-size: 24px; margin-right: 10px;"></i>
        フリマアプリ
    </a> 
</div>
{% endblock %}