{% extends 'base.html' %}

{% block content %}
    <div class="mb-4">
        <!-- 勲章授与画面に遷移するアイコンボタン -->
        <a href="{% url 'employee:select_member' %}" class="btn btn-primary d-flex align-items-center">
            <i class="fas fa-medal" style="font-size: 24px; margin-right: 10px;"></i>
            勲章授与画面に遷移
        </a>
    </div>
    
    <div class="mb-4">
        <!-- スタッフ一覧画面に遷移するアイコンボタン -->
        <a href="{% url 'staff:staff_list' %}" class="btn btn-secondary d-flex align-items-center">
            <i class="fas fa-users" style="font-size: 24px; margin-right: 10px;"></i>
            スタッフ一覧画面に遷移
        </a>
    </div>
{% endblock %}
