{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h2>{{ member.name }} の勲章を選択</h2>

        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="medals">勲章を選択:</label>
                <div class="checkbox">
                    {% for medal in available_medals %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="{{ medal.id }}" name="medals">
                            <label class="form-check-label">
                                <img src="{{ medal.image.url }}" alt="{{ medal.title }}" width="50" height="50">
                                {{ medal.title }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">選択した勲章を登録</button>
        </form>
    </div>
{% endblock %}
