{% extends 'base.html' %}

{% block content %}
    <div class="mb-4">
        <!-- 自分以外のシフト一覧に遷移するボタン -->
        {% if request.user.id %}
            <a href="{% url 'staff:shift_schedule_list_for_staff' staff_id=request.user.id %}" class="btn btn-secondary">
                自分以外のシフト一覧を見る
            </a>
        {% else %}
            <p>スタッフIDが無効です。</p>
        {% endif %}
        
        <!-- 勲章授与画面に遷移するアイコンボタン -->
        <a href="{% url 'staff:schedule_list' %}" class="btn btn-primary">
            <i class="fas fa-medal" style="font-size: 24px; margin-right: 10px;"></i>
            予定マスタ
        </a>    
    </div>
{% endblock %}