<!-- 会員用メニュー項目 -->
<ul class="list-group">
    <li class="list-group-item">
        <a class="nav-link d-block text-truncate text-md-wrap fs-6 fs-md-5"
           href="{% url 'member:add_points' %}"
           data-bs-toggle="tooltip"
           title="ポイント追加">
            ポイント追加
        </a>
    </li>
    <li class="list-group-item">
        <a class="nav-link d-block text-truncate text-md-wrap fs-6 fs-md-5"
           href="{% url 'member:product_list' %}"
           data-bs-toggle="tooltip"
           title="フリマアプリ">
            フリマアプリ
        </a>
    </li>
    <li class="list-group-item">
        <a class="nav-link d-block text-truncate text-md-wrap fs-6 fs-md-5"
           href="{% url 'member:user_schedule_list' %}"
           data-bs-toggle="tooltip"
           title="スケジュール（曜日）">
            スケジュール（曜日）
        </a>
    </li>
</ul>


